html, body{
    margin: 0px;
    color: white;
    background-color: #1e6000;
}

.titulo{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;/*Correr imagen a la derecha*/
    margin-left: -75px;    
}